.no-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.calendar {
    width: 300px;
    position: relative;
    overflow: hidden;
    .no-select();

    &__head {
        background: transparent;
        text-align: center;
        height: 40px;
        background: #FFCCBC;
    }

    &__head-month {
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px dotted rgba(0,0,0, .3);
    }

    &__head-year {
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px dotted rgba(0,0,0, .3);
    }

    &__arrows {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }

    &__arrow {
        width: 40px;
        height: 40px;
        color: #FF5722;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #FF5722;
            color: #FFCCBC;
        }
    }

    &__month {
        margin: 0;
        border-collapse: collapse;
    }

    &__weekday-name {
        text-align: center;
        width: 43px;
        height: 40px;
        padding: 0;
        background: #607D8B;
        color: #CFD8DC;
    }

    &__cell {
        width: 43px;
        height: 40px;
        padding: 0;
        background: #CFD8DC;
    }

    &__day {
        width: 43px;
        height: 40px;
        display: block;
        line-height: 40px;
        text-align: center;
        background: #CFD8DC;
        color: #727272;
        .no-select();

        &_other-month {
            opacity: 0.5;
        }

        &_available {
            background: #4CAF50;
            color: #fff;
            cursor: pointer;

            &:hover {
                background: #AFB42B;
            }
        }

        &_disabled {
            background: #455A64;
            color: #B6B6B6;
            cursor: not-allowed;
        }

        &_current {
            background: #673AB7;

            &_available&:hover {
                background: #512DA8;
            }
        }
    }

    &__years,
    &__months {
        display: flex;
        flex-flow: row wrap;
    }

    &__year,
    &__month-item {
        width: 25%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #4CAF50;
        color: #fff;
        cursor: pointer;
        .no-select();

        &:hover {
            background: #AFB42B;
        }

        &_current,
        &_current:hover {
            background: #673AB7;
        }

        &_disabled,
        &_disabled:hover {
            background: #455A64;
            color: #B6B6B6;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &__month-item {
        font-size: 14px;
    }
}
