* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font: normal 16px "Arial", Tahoma, Verdana;
}
.demo {
  padding: 50px 0 0 50px;
}
.demo__part {
  margin-bottom: 50px;
}
.demo__part:before,
.demo__part:after {
  display: table;
  content: '';
  width: 100%;
}
.demo__inline {
  float: left;
  margin-right: 20px;
}
.demo__description {
  font-size: 18px;
  line-height: 1.33333333;
  color: #333;
}
.demo__ru,
.demo__en {
  position: relative;
}
.demo__ru:before,
.demo__en:before {
  content: 'RU';
  display: block;
  position: absolute;
  color: red;
  top: 3px;
  left: -18px;
  font-size: 10px;
}
.demo__ru {
  margin-bottom: 10px;
}
.demo__en {
  margin-bottom: 20px;
}
.demo__en:before {
  content: 'EN';
}
.demo__title {
  margin-bottom: 5px;
}
.demo__props {
  margin-top: 20px;
}
.demo__code {
  margin: 0;
  display: inline-block;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.demo__input {
  margin-bottom: 5px;
  width: 300px;
  height: 40px;
  font-size: 25px;
  padding: 0 10px;
}
.demo__fork {
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  right: 0;
  border: 0;
}
.calendar {
  width: 300px;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.calendar__head {
  background: transparent;
  text-align: center;
  line-height: 40px;
  background: #FFCCBC;
}
.calendar__arrow {
  width: 40px;
  height: 40px;
  color: #FF5722;
  cursor: pointer;
}
.calendar__arrow:hover {
  background: #FF5722;
  color: #FFCCBC;
}
.calendar__arrow_left {
  float: left;
}
.calendar__arrow_right {
  float: right;
}
.calendar__month {
  margin: 0;
  border-collapse: collapse;
}
.calendar__weekday-name {
  text-align: center;
  width: 43px;
  height: 40px;
  padding: 0;
  background: #607D8B;
  color: #CFD8DC;
}
.calendar__cell {
  width: 43px;
  height: 40px;
  padding: 0;
  background: #CFD8DC;
}
.calendar__day {
  width: 43px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  background: #CFD8DC;
  color: #727272;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.calendar__day_other-month {
  opacity: 0.5;
}
.calendar__day_available {
  background: #4CAF50;
  color: #fff;
  cursor: pointer;
}
.calendar__day_available:hover {
  background: #AFB42B;
}
.calendar__day_disabled {
  background: #455A64;
  color: #B6B6B6;
  cursor: not-allowed;
}
.calendar__day_current {
  background: #673AB7;
}
.calendar__day_current_available.calendar__day_current:hover {
  background: #512DA8;
}
